<a href="https://colab.research.google.com/github/alvaro004/DataAnalysisBasics/blob/main/DataWorking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB TOP 1000 MOVIES

We first start importing Pandas and getting the necessary data to start working.

# MOVIELENS 1M DATASET

## Importing Fundamentals

In [55]:
import requests
import pandas as pd
import io

## Loading Data

In [62]:
# URL for the RAW MovieLens .dat file on GitHub
movies_url = 'https://raw.githubusercontent.com/alvaro004/DataAnalysisBasics/06a42e3fd6aaaf606224f2a4d5e4f9b50d712864/DataCollection/ml-1m/movies.dat'

# Fetch the data from the URL
response = requests.get(movies_url)
content = response.content
mnames = ["movie_id", "title", "genres"]

# Try decoding with 'latin-1'
movies_df = pd.read_csv(io.StringIO(content.decode('latin-1')), sep='::', names=mnames, header=None, engine='python')

# Print the DataFrame (optional)
print(movies_df)

      movie_id                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
3878      3948             Meet the Parents (2000)
3879      3949          Requiem for a Dream (2000)
3880      3950                    Tigerland (2000)
3881      3951             Two Family House (2000)
3882      3952               Contender, The (2000)

                            genres
0      Animation|Children's|Comedy
1     Adventure|Children's|Fantasy
2                   Comedy|Romance
3                     Comedy|Drama
4                           Comedy
...                            ...
3878                        Comedy
3879                         Drama
3880                         Drama
3881                         Drama
3882                Drama|Thriller

[3883 rows x 3 columns]

In [63]:
users_url = 'https://raw.githubusercontent.com/alvaro004/DataAnalysisBasics/7a48a1f44289412cadc8f399bf97f3540accf5b0/DataCollection/ml-1m/users.dat'
response = requests.get(users_url)
content = response.content
unames = ["user_id", "gender", "age", "occupation", "zip"]
users = pd.read_csv(io.StringIO(content.decode('latin-1')), sep='::', header=None, names=unames, engine='python')
print(users)

      user_id gender  age  occupation    zip
0           1      F    1          10  48067
1           2      M   56          16  70072
2           3      M   25          15  55117
3           4      M   45           7  02460
4           5      M   25          20  55455
...       ...    ...  ...         ...    ...
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

[6040 rows x 5 columns]

In [65]:
ratings_url = 'https://raw.githubusercontent.com/alvaro004/DataAnalysisBasics/7a48a1f44289412cadc8f399bf97f3540accf5b0/DataCollection/ml-1m/ratings.dat'
response = requests.get(ratings_url)
content = response.content
rnames = ["user_id", "movie_id", "rating", "timestamp"]
ratings = pd.read_csv(io.StringIO(content.decode('latin-1')), sep='::', header=None, names=rnames, engine='python')
print(ratings)

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]