<a href="https://colab.research.google.com/github/alvaro004/DataAnalysisBasics/blob/main/DataWorking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB TOP 1000 MOVIES

We first start importing Pandas and getting the necessary data to start working.

# MOVIELENS 1M DATASET

## Importing Fundamentals

In [ ]:
import requests
import pandas as pd
import io

## Loading Data

In [54]:


# URL for the RAW MovieLens .dat file on GitHub
movies_url = 'https://raw.githubusercontent.com/alvaro004/DataAnalysisBasics/06a42e3fd6aaaf606224f2a4d5e4f9b50d712864/DataCollection/ml-1m/movies.dat'


# Fetch the data from the URL
response = requests.get(movies_url)
content = response.content

# Try decoding with 'latin-1'
movies_df = pd.read_csv(io.StringIO(content.decode('latin-1')), sep='::', header=None, engine='python')

# Print the DataFrame (optional)
print(movies_df)

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]